.error-container {
  position: relative;
}

.error-message {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #ef4444;
  color: #ececec;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 12px;
  font-size: 18px;
  height: 50px;
  white-space: nowrap;
}

.error-icon,
.close-icon {
  width: 15px;
  fill: #ececec;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
