.alert {
  background-color: #ef4444;
  border-radius: 24px !important;
  min-height: 48px;
  height: auto;
}

.alert.MuiAlert-icon,
.MuiAlert-message,
.MuiAlert-action {
  color: #ececec;
}

.alert-title {
  font-family: inherit !important;
  font-weight: 600 !important;
}
