.alert {
  background-color: #ef4444;
  border-radius: 24px;
  min-height: 48px; /* Set specific height */
  height: "auto";
}

.alert .MuiAlert-icon,
.MuiAlert-message,
.MuiAlert-action {
  color: #ececec;
}
