.top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.one-day-weather-icon {
  width: 150px;
}

.one-day-temp {
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.feels-like {
  font-size: 20px;
  font-weight: 300;
}

.min-max-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 20px;
  font-weight: 300;
}

.one-day-date {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}
