.parent-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.one-day-weather-icon {
  width: 150px;
}

.temp-col {
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  justify-content: space-between;
  height: 100%;
  text-align: right;
}

.one-day-temp {
  font-size: 110px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2rem;
}

.feels-like {
  font-size: 25px;
  font-weight: 300;
}

.min-max-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 20px;
  font-weight: 300;
}

.one-day-date {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

/* .bottom-wrapper {
  display: flex;
} */

.bottom-wrapper {
  width: 100%;
  /* margin-top: 23px; */
  display: flex;
  justify-content: space-between;
}

.bottom-wrapper .col {
  display: flex;
  align-items: center;
  /* width: 100%; */
}

.bottom-wrapper .col .labels p {
  font-size: 16px;
  margin-top: 3px;
  font-weight: 600;
}

.bottom-wrapper .col .labels span {
  font-size: 12px;
  margin-top: 3px;
}

.bottom-wrapper .col .labels {
  /* color: var(--text-secondary); */
  margin-left: 8px;
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
