.search-bar {
  position: relative;
  width: 220px;
  margin-top: 5px;
}

.search-bar input {
  width: 100%;
  height: 50px;
  padding-left: 47px;
  padding-right: 15px;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #141414;
  background: #ececec;
  font-size: 18px;
}

.search-bar img {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  cursor: pointer;
}

.search-bar img.disabled {
  cursor: not-allowed;
}
