.search-bar {
  position: relative;
  width: 220px;
  margin-top: 5px;
}

.search-bar input {
  width: 100%;
  height: 50px;
  padding-left: 47px;
  padding-right: 47px;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #141414;
  background: #ececec;
  font-size: 18px;
}

.search-bar img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  cursor: pointer;
}

.search-bar img.search-icon {
  left: 15px;
}

.search-bar img.mic-icon {
  right: 15px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.search-bar img.mic-icon:hover {
  opacity: 1;
}

.search-bar img.mic-icon.active {
  opacity: 1;
  filter: drop-shadow(0px 0px 5px red);
}

.search-bar img.disabled {
  cursor: not-allowed;
}
