.theme-toggle-switch {
  position: absolute !important;
  bottom: 20px !important;
  right: 20px !important;
}

.theme-toggle-switch .MuiSwitch-switchBase {
  padding: 4px; /* Adjust padding for the switch base */
  transform: translateX(5px) translateY(5px); /* Adjust translation for the unchecked state */
}

.theme-toggle-switch .MuiSwitch-switchBase.Mui-checked {
  transform: translateX(25px) translateY(5px); /* Adjust translation for checked state */
}
