.root-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.weather-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1180px;
}

.weather {
  padding: 42px;
  border-radius: 25px;
  background-image: linear-gradient(45deg, #2f4680, #500ae4);
  display: flex;
  width: 350px;
  height: 494.9px;
  flex-direction: column;
  align-items: center;
}

.location {
  color: #ececec;
  font-size: 20px;
  font-weight: 800;
  margin-top: 10px;
}
