.root-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column; /* Stack elements vertically */
  gap: 20px; /* Add gap between weather cards and search bar */
  padding: 20px;
}

.weather-wrapper {
  display: flex;
  justify-content: space-between; /* Space out the cards evenly */
  gap: 20px; /* Space between the weather cards */
  width: 100%; /* Make the wrapper take full width */
  max-width: 1300px; /* Optional: limit the max width of the weather cards container */
}

.weather {
  padding: 40px;
  border-radius: 65px;
  background-image: linear-gradient(45deg, #2f4680, #500ae4);
  display: flex;
  width: 400px;
  height: 565.6px;
  flex-direction: column;
  align-items: center;
}
