.root-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.weather-wrapper {
  display: flex;
  width: 1080px;
  margin-top: 50px;
}

.weather-wrapper.center {
  justify-content: center;
}

.weather-wrapper.between {
  justify-content: space-between;
}

.three-day {
  padding: 42px;
  border-radius: 28px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  height: 440px; /* 1.3 rectangle ratio */
}

.one-day {
  padding: 42px;
  border-radius: 28px !important;
  width: 572px;
  height: 440px;
}

.location {
  font-size: 26px;
  font-weight: 800;
  margin: 15px 0 5px;
  width: 45%;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
