.weather-icon {
  width: 190px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.temperature {
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 7px;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.date {
  margin-top: 10px;
  font-size: 21px;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.weather-data {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.weather-data .col {
  display: flex;
  align-items: center;
  width: 133px;
}

.weather-data .col .labels p {
  font-size: 16px;
  margin-top: 3px;
  font-weight: 600;
}

.weather-data .col .labels span {
  font-size: 12px;
  margin-top: 3px;
}

.weather-data .col .labels {
  color: var(--text-secondary);
  margin-left: 8px;
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
