.weather-icon {
  width: 190px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.temperature {
  color: #ececec;
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 7px;
}

.date {
  color: #ececec;
  margin-top: 10px;
  font-size: 21px;
  white-space: nowrap;
}

.weather-data {
  width: 100%;
  margin-top: 30px;
  color: #ececec;
  display: flex;
  justify-content: space-between;
}

.weather-data .col {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;
}

.weather-data .col p {
  font-size: 18px;
  margin-top: 3px;
  font-weight: 600;
}

.weather-data .col span {
  font-size: 14px;
  margin-top: 3px;
}

.weather-data .col img {
  width: 26px;
}
