.root-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.weather-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1180px;
}

.weather {
  padding: 42px;
  border-radius: 25px !important;
  /* background-image: linear-gradient(45deg, #2f4680, #500ae4); */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 494.9px;
}

.location {
  color: #ececec;
  font-size: 18px;
  font-weight: 800;
}
