.root-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.weather-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1180px;
}

.weather {
  padding: 42px;
  border-radius: 28px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 494.9px;
}

.location {
  font-size: 18px;
  font-weight: 800;
}
