.root-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100%;
  flex-direction: column; /* Stack elements vertically */
}

.weather {
  place-self: center;
  padding: 40px;
  border-radius: 65px;
  background-image: linear-gradient(45deg, #2f4680, #500ae4);
  display: flex;
  width: 400px;
  height: 565.6px;
  flex-direction: column;
  align-items: center;
}

.error-display {
  color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-icon {
  width: 220px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.temperature {
  color: #ececec;
  font-size: 80px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 7px;
}

.location {
  color: #ececec;
  font-size: 35px; /* Shrinks if needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.weather-data {
  width: 100%;
  margin-top: 35px;
  color: #ececec;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.weather-data .col {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;
}

.weather-data .col span {
  display: block;
  font-size: 15px;
  margin-top: 3px;
}

.weather-data .col img {
  width: 26px;
}

.search-bar {
  display: flex;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 210px;
}

.search-bar input {
  width: 100%;
  height: 50px;
  padding-left: 50px;
  padding-right: 23px;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #141414;
  background: #ececec;
  font-size: 18px;
}

.search-bar img {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  cursor: pointer;
}

.search-bar img.disabled {
  cursor: not-allowed;
}
