.weather {
  place-self: center;
  padding: 40px;
  border-radius: 65px;
  background-image: linear-gradient(45deg, #2f4680, #500ae4);
  display: flex;
  width: 400px;
  height: 647.2px;
  flex-direction: column;
  align-items: center;
}

.error-display {
  color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.search-bar input {
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  color: #626262;
  background: #ebfffc;
  font-size: 18 px;
  flex-grow: 1;
}

.search-bar img {
  width: 50px;
  padding: 15px;
  border-radius: 25px;
  background: #ebfffc;
  cursor: pointer;
}

.search-bar img.disabled {
  cursor: not-allowed;
}

.weather-icon {
  width: 220px;
  margin: 30px 0;
}

.temperature {
  color: #fff;
  font-size: 80px;
  line-height: 1;
  font-weight: 700;
}

.location {
  color: #fff;
  font-size: 35px; /* Shrinks if needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.weather-data {
  width: 100%;
  margin-top: 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.weather-data .col {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 21px;
}

.weather-data .col span {
  display: block;
  font-size: 16px;
  margin-top: 3px;
}

.weather-data .col img {
  width: 26px;
}
